@import "../abstracts/variables";

.nav {
    display: flex;
    gap: 32px;
    margin-right: 50px;

    a {
        color: $white;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
    }
}