doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src='./main.js')
    body 
        include ./layout/header.pug
        include ./layout/about.pug
        include ./layout/catalog.pug
        include ./layout/contacts.pug
        include ./layout/reviews.pug
        include ./layout/footer.pug