.about(id="about")
  h2.about-title Про нас
  hr.about-line
  h3.about-descr Якщо ви опинилися тут, значить шукаєте хорошу студію для догляду за собою
  p.about-descr2 Вітаємо, ви знайшли її! Фішка салону Flower Lady в тому, що до нас хочеться повертатися. А знаєте чому? Тому що у нас:
  ul.about-advantages
    li.about-advantages-item 
      img.about-advantages-item-img(src="public/images/natalya.jpg", alt="Опис зображення")
      | затишна обстановка, завжди ввічливе спілкування та золоті руки наших майстрів
    li.about-advantages-item 
      | абсолютна стерильність, обов’язкова консультація майстра та гарантія довгострокового результату при дотриманні всіх рекомендацій
      img.about-advantages-item-img(src="public/images/natalya.jpg", alt="Опис зображення")
    li.about-advantages-item 
      img.about-advantages-item-img(src="public/images/natalya.jpg", alt="Опис зображення")
      | акції та спецпропозиції для постійних клієнтів, центр міста та зручне розташування
  p.about-descr2 Якщо ви шукаєте, де зробити в м. Черкаси ультразвукову чистку, механічну чистку, пілінг, массаж, мікрострумову терапію та безліч інших корисних для вас та вашої шкіри косметичних процедур, ми щиро раді запропонувати вам свої професійні послуги. Наші переваги – це висока кваліфікація наших косметологів, доступні ціни, приємна і релаксуюча обстановка, яка створена для клієнтів.
