.div.catalog(id="catalog")
  .catalog-content
    h2.catalog-title Наші послуги
    hr.catalog-line
    ul.card-catalog
      li.catalog-item
        .img-overlay
          img.img-catalog(src="../../public/images/test1.jpg" width="288")
          p.overlay
            | 14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
        .info-catalog
          h3.list-title-catalog Банківський додаток
          p.list-item-catalog Додаток

      li.catalog-item
        .img-overlay
          img.img-catalog(src="../../public/images/test1.jpg" width="288")
          p.overlay
            | 14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
        .info-catalog
          h3.list-title-catalog Безготівковий платіж
          p.list-item-catalog Маркетинг

      li.catalog-item
        .img-overlay
          img.img-catalog(src="../../public/images/test1.jpg" width="288")
          p.overlay
            | 14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
        .info-catalog
          h3.list-title-catalog Додаток для медитації
          p.list-item-catalog Додаток

      li.catalog-item
        .img-overlay
          img.img-catalog(src="../../public/images/test1.jpg" width="288")
          p.overlay
            | 14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
        .info-catalog
          h3.list-title-catalog Таксі-сервіс
          p.list-item-catalog Маркетинг

      li.catalog-item
        .img-overlay
          img.img-catalog(src="../../public/images/test1.jpg" width="288")
          p.overlay
            | 14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
        .info-catalog
          h3.list-title-catalog Ілюстрації екрану
          p.list-item-catalog Дизайн

      li.catalog-item
        .img-overlay
          img.img-catalog(src="../../public/images/test1.jpg" width="288")
          p.overlay
            | 14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
        .info-catalog
          h3.list-title-catalog Онлайн-курси
          p.list-item-catalog Маркетинг

  .catalog-background
