.contacts-wrap(id="contacts")
    .contacts
        h2.contacts-title Наші контакти
        hr.contacts-line
        address.contacts-address
            .address-list
                h3 Номер телефону:
                a(href="tel:+380506898156") +380 50 689 8156
                h3 Наша адреса:
                p бульвар Шевченка 145, ТРЦ "Україна", кабінет 235, Черкаси, Черкаська область, 18002
                h3 Години роботи:
                p понеділок 
                    span.hours 08:00-20:00
                p вівторок 
                    span.hours 08:00-20:00
                p середа 
                    span.hours 08:00-20:00
                p четвер 
                    span.hours 08:00-20:00
                p пʼятниця 
                    span.hours 08:00-20:00
                p субота 
                    span.hours 08:00-18:00
                p неділя 
                    span.hours 08:00-16:00
            .address-video
                h3 Дивись відео, як нас знайти
                video(
                    src="../../public/images/find-us.mp4"
                    type="video/mp4"
                    controls)
        .contacts-background