.footer
    .footer-pages
        p Головна
        p Про нас
        p Наші послуги
        p Відгуки
        p Контакти
    .footer-social
        p.social-descr FlowerLady 
        p.social-descr Студія краси в м. Черкаси
        img(src="public/images/android-icon-96x96.png", alt="").social-img
        ul
            li Facebook 
            li Instagram
            li 
                a(href="tel:+380506898156") +380 50 689 8156
    .footer-contacts 
        .contacts-tel
            p +380 50 689 8156
            p Наш телефон
        .contacts-email 
            p susidko84@gmail.com
            p Контактний e-mail
        .contacts-address
            p Черкаси
            p бульвар Шевченка 145
            p ТРЦ "Україна"
            p кабінет 235
            p Наша адреса
