header.header-wrap
  .header
    p.header-descr Студія краси в м. Черкаси
      img.header-logo(src="../../public/images/logo.png", alt="Логотип студії")
    include ./nav.pug
  .header-info 
    h1.header-info-title 
      | Примножуючи 
      br
      span найкраще 
      | в тобі
    p.header-info-text Широкий вибір послуг. Професійна косметика та догляд за собою
    p.header-info-text2 Любов до краси – це смак. Створення краси – це мистецтво
    button.header-info-btn(type="button") Вибрати послугу
    ul.header-info-list
      li Сучасне обладнання
      li Бережливе ставлення
      li Кваліфіковані спеціалісти
      li Сертифікована косметика


