.div(id="reviews")
  h2 Відгуки про нашу роботу
  p При натисканні на будь-який відгук, можна подивитися його оригінал на сайті Barb.ua. Це підтверджує, що ми розміщуємо лише живі, справжні відгуки від реальних клієнтів.
  button Тицяй
