.reviews(id="reviews")
  h2.reviews-title Відгуки про нашу роботу
  hr.reviews-line
  .reviews-gallery
    .reviews-track
      .reviews-card
        .reviews-avatar
        p.reviews-text "Цей сервіс просто чудовий! Рекомендую всім!"
        p.reviews-name "- Іван Іванов"
        a.reviews-link(href="https://example.com", target="_blank") "Переглянути оригінал"
      .reviews-card
        .reviews-avatar
        p.reviews-text "Швидка доставка та чудовий сервіс!"
        p.reviews-name "- Марія Петрова"
        a.reviews-link(href="https://example.com", target="_blank") "Переглянути оригінал"
      .reviews-card
        .reviews-avatar
        p.reviews-text "Я залишився дуже задоволений! Обов'язково звернуся ще."
        p.reviews-name "- Сергій Сидоров"
        a.reviews-link(href="https://example.com", target="_blank") "Переглянути оригінал"
      .reviews-card
        .reviews-avatar
        p.reviews-text "Чудова якість і уважний персонал."
        p.reviews-name "- Олена Олександрова"
        a.reviews-link(href="https://example.com", target="_blank") "Переглянути оригінал"
      .reviews-card
        .reviews-avatar
        p.reviews-text "Замовляв неодноразово - завжди все на висоті!"
        p.reviews-name "- Дмитро Дяченко"
        a.reviews-link(href="https://example.com", target="_blank") "Переглянути оригінал"
  p.reviews-descr При натисканні на кнопку "Переглянути оригінал" можна подивитися цей відгук на сайті Barb.ua. Це підтверджує, що ми розміщуємо лише живі, справжні відгуки від реальних клієнтів.
  p.reviews-descr Також ви можете залишити відгук про студію FlowerLady:
    .reviews-link2
      p.reviews-descr Google:
        a.reviews-link2(href='https://g.page/r/CRSHxa7q_a0kEAE/review') Перейти
      p.reviews-descr Barb.ua:
        a.reviews-link2(href='https://barb.ua/uk/cherkassy/salon/flady/comments') Перейти
